[submodule "EffectiveSource"]
	path = lib/EffectiveSource
	url = git@github.com:thompsonphys/EffectiveSource.git
[submodule "KerrGeodesicsC"]
	path = lib/KerrGeodesicsC
	url = git@github.com:thompsonphys/KerrGeodesicsC.git
